<?xml version='1.0' encoding='utf-8'?>
<widget
      id="net.drawpath"
      version="1.0.0"
      xmlns="http://www.w3.org/ns/widgets"
      xmlns:android="http://schemas.android.com/apk/res/android"
      xmlns:cdv="http://cordova.apache.org/ns/1.0" >
  <name>Drawpath</name>
  <description>Move around and draw</description>
  <author email="saud@saudkhan.net" href="http://saudkhan.net">
     Saud Khan
  </author>
  <platform name="android"> 
    <resource-file src="notification_icon.png" target="app/src/main/res/drawable-mdpi/notification_icon.png" />
  </platform>
  <content src="index.html" />
  <preference name='phonegap-version' value='cli-8.0.0' />
  <!-- <preference name='pgb-builder-version' value='2' /> -->
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="loadUrlTimeoutValue" value="700000" />
  <preference name="exit-on-suspend" value="false"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="21"/>
  <!--<preference name="android-maxSdkVersion" value="26" /> -->
  <preference name="android-installLocation" value="auto"/>
  <preference name="AndroidLaunchMode" value="singleInstance" />
  <plugin name="cordova-plugin-geolocation" spec="4.0.1" />
  <!-- <plugin name="cordova-plugin-device-orientation" spec="2.0.1"/> -->
  <plugin name="cordova-plugin-screen-orientation" spec="3.0.1"/>
  <plugin name="cordova-plugin-whitelist" spec="1.3.3" />
   <allow-navigation href="*" /> 
  <!-- <plugin name="cordova.plugins.diagnostic" spec="4.0.12" /> -->
  <plugin name="cordova.plugins.diagnostic" spec="4.0.12">
    <param name="ANDROID_SUPPORT_VERSION" value="26.+" />
  </plugin>
  <!-- <preference name="cordova.plugins.diagnostic.modules" value="LOCATION" spec="4.0.12"/> -->
  <plugin name="cordova-plugin-network-information" spec="2.0.1" />
  <!--<plugin name="cordova-plugin-dialogs" spec="1.3.1"/>
  <plugin name="cordova-plugin-vibration" />-->
  <plugin name="cordova-plugin-uniquedeviceid" spec="1.3.2"/>
  <plugin name="cordova-plugin-x-toast" spec="2.7.2" />
  <plugin name="cordova-plugin-x-socialsharing" spec="5.4.4" />
  <plugin name="cordova-plugin-local-notification-fixed" spec="0.10.6" />
  <!-- <plugin name="cordova-plugin-local-notification" spec="0.9.0-beta.1"/> -->
  <plugin name="cordova-plugin-file" spec="6.0.1" />
  <!--<plugin name="cordova-plugin-inappbrowser" />
  <plugin name="cordova-plugin-customurlscheme" source="npm">
    <param name="URL_SCHEME" value="memasjidnear" />
  </plugin>
  <plugin name="cordova-universal-links-plugin" source="npm" />
  <universal-links>
    <host name="masjidnear.me" scheme="https" event="locEvent" />
  </universal-links> -->
  <plugin name="cordova-plugin-googlemaps" spec="2.5.3">
      <param name="API_KEY_FOR_ANDROID" value="AIzaSyC3hxO4-oi1bOdq8kqVeQhAjEMcTmK6t3M" />
  </plugin>
  <!-- <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" source="npm" >
    <variable name="GOOGLE_API_KEY_FOR_ANDROID" value="AIzaSyAOSRAaoQhAuIQkG8uQu2XnV4Wo0WWB7vk" />
</plugin> -->
  <icon src="icon.png"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <intent-filter>
    <data android:scheme="https" android:host="masjidnear.me"/>
    <action android:name="android.intent.action.VIEW" />
    <category android:name="android.intent.category.DEFAULT"/>
    <category android:name="android.intent.category.BROWSABLE"/>
  </intent-filter>
</widget>
